<p id="notice"><%= notice %></p>

<h1>Virtual Domains</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @virtual_domains.each do |virtual_domain| %>
      <tr>
        <td><%= virtual_domain.name %></td>
        <td><%= link_to 'Show', virtual_domain %></td>
        <td><%= link_to 'Edit', edit_virtual_domain_path(virtual_domain) %></td>
        <td><%= link_to 'Destroy', virtual_domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Virtual Domain', new_virtual_domain_path %>
